.scrolling-wrapper {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: normal;
  width: 100%;
   
}

.individualcard {
    width:12vw!important; 
    height: 350px;  
    background-color: #fff;
	border: 1px #fff;
	background-position: center;
	background-size: cover;
    border-radius: 24px;
    }

// .card-text-li{
//     width: 200px;
//     display: inline-block;
//     overflow-wrap: break-word;
//     overflow:hidden;
    
// }

.card-top-image {
    width:100% !important; 
    height: 110px !important;
}

.containercard{
   overflow: hidden;
   text-overflow: ellipsis; 
   width: 11vw; 
}