.scrolling-wrapper {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
   
}

.card {
    width:60px;
	background-color: #fff;
	border: none;
	background-position: center;
	background-size: cover;
	border-radius: 24px;

    }